@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    background: #0E0E0E;
}

.main {
    position: absolute;
    background: #181818;
    width: 60%;
    min-width: 480px;
    height: 29em;
    padding: 12px;
    top: 50%;
    left: 50%;
    overflow: hidden;
    transform: translate(-50%, -50%);  
}

.styled-block-right {
    position: relative;
    padding: 0;
    background: #E48554;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.styled-block-left {
    border-bottom: 468px solid #262626;
    border-left: 0px solid transparent;
    border-right: 175px solid transparent;
    height: 0;
    width: 75%;
    position: absolute;
    top: -3px;
    left: -3px;
}

.circle {
    position: absolute;
    top: 15%;
    right: 8%;
    border: none;
    width: 155px;
    height: 155px;
    border-radius: 100%;
    background: #0B0C10;
    padding: 12px;
}

.circle-inner {
    width: 100%;
    height: 100%;
    background: none;
    border: 7px #FEFEFE solid;
    border-radius: 100%;
}
.circle-inner img {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.arrow {
	position: relative;
    margin-top: 15%;
    margin-left: auto;
    margin-right: 18%;
    width: 100px;
}
.arrow .curve {
	border: 2px solid #FEFEFE;
	border-color: transparent transparent transparent #FEFEFE;
	height: 180px;
	width: 1200px;
	border-radius: 230px 0 0 150px;
}
.arrow .point {
	position: absolute;
	left: 40px;
	top: 29%;
}
.arrow .point:before, .arrow .point:after {
	border: 1px solid #FEFEFE;
	height: 25px;
	content: "";
	position: absolute;
}
.arrow .point:before {
	top: -19px;
	left: -8px;
	transform:rotate(-190deg);
	-webkit-transform:rotate(-190deg);
    -moz-transform:rotate(-190deg);
    -ms-transform: rotate(-190deg);
}
.arrow .point:after {
  top: -32px;
	left: -25px;
	transform:rotate(-92deg);
	-webkit-transform: rotate(-92deg);
  -moz-transform:rotate(-92deg);
  -ms-transform: rotate(-92deg);
}

.subscribe {
    position: absolute;
    top: 52%;
    right: 9%;
    width: 125px;
    height: 125px;
    text-align: center;
}
.subscribe h2 {
    color: #FEFEFE;
}
.subscribe button {
    border: none;
    padding: 4px 8px;
    border-radius: 10px;
    margin-top: 15px;
    background: #FEFEFE;
    color: #DD8152;
    z-index: 99999999999;
}
.subscribe button:hover {
    cursor: pointer;
}
.subscribe button:focus {
    outline: none;
}

.content-block {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
}
.content-container {
    width: 100%;
    height: 385px;
}

.content-styled-border {
    position: relative;
    margin: 0 auto;
    width: 50%;
    height: 10rem;
    padding: 8px 18px;
  }
  .content-styled-border .border-top,  .content-styled-border .border-bottom {
    position: absolute;
    width: 15px;
    height: 100%;
  }  
  .content-styled-border .border-top {
    top: 0;
    border-top: 2px white solid;
  }  
  .content-styled-border .border-bottom {
    bottom: 0;
    border-bottom: 2px white solid;
  }  
  .content-styled-border .border-left {
    left: 0;
    border-left: 2px white solid;
  }  
  .content-styled-border .border-right {
    right: 0;
    border-right: 2px white solid;
  }
.viedo-frame {
    width: 100%;
    height: 100%;
}

.left, h1, button {
    text-align: center;
}
.left {
    width: 60%;
    height: 100%;
    padding-top: 65px;
}
.left h1 {
    color: #FFFFFF
}
.left h1:nth-child(1) {
    font-weight: 100;
    font-size: 1.5em;
}
.left h1:nth-child(2) {
    font-size: 2.3em;
}
.left button {
    margin-top: 25px;
    background: #E48554;
    padding: 8px 10px 8px 10px;
    font-size: 1em;
    font-weight: 400;
    color: #262626;
    border: none;
}
.left button:hover {
    cursor: pointer;
}
.left button:focus {
    outline: none;

}

.controls {
    padding-top: 0;
    width: 100%;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
}
.progress {
    position: relative;
    width: 100%;
    height: 4px;
    border-radius: 50%;
    background: #e0e0e063;
}
.progress::after {
    content: "";
    position: absolute;
    width: 94%;
    height: 4px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: #FF0000;
}
.buttons {
    display: flex;
    justify-content: space-between;
    align-content: center;
    height: 50px;
}

.left-pane {
    display: flex;
    justify-content: space-between;
    width: 35%;
    padding: 12px 0 0 15px;
}
.right-pane {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px 0 5px;
    width: 35%;
}

.play-button {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 15px solid #E8E8E8;
    border-bottom: 10px solid transparent;
}
.fforward {
    border-right: 5px solid #E8E8E8;
    height: 20px;
    overflow: hidden;
}
.triangle {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 15px solid #E8E8E8;
    border-bottom: 10px solid transparent;
}

.speaker {
    display: flex;
}
.square {    
    display: flex;
    width: 8px;
    height: 8px;
    margin-top: 7px;
    background: #E8E8E8;
}
.cone {
    width: 0;
    height: 0;
    margin-top: 0.1rem;
    margin-left: -0.3rem;
    border-top: 10px solid transparent;
    border-right: 10px solid #E8E8E8;
    border-bottom: 10px solid transparent;
}
.half-circle {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border-left: none;
    background: #E8E8E8;
    padding-top: 3px;
}
.inner-half-circle {
    width: 14px;
    height: 14px;
    margin: 0 auto;
    border-radius: 100%;
    background: none;
    border: 2px black solid;    
}
.circle-container {
    width: 10px;
    height: 20px;
    margin-top: 1px;
    margin-left: 2px;
    overflow: hidden;
    transform: rotate(180deg);
}
.time {
    height: 20px;
    margin: 0 5px 0 15px;
}
.time-inner {
    padding-top: 2px;
    height: 20px;
    color: #E8E8E8;
    font-size: 0.9em;
    text-align: center;
}

/* Right Pane */
.auto-play .slider {
    position: relative;
    width: 25px;
    height: 8px;
    border-radius: 10px;
    background: rgba(232, 232, 232, 0.5);
}
.auto-play .slider .slider-button {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: -2px;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background: rgb(232, 232, 232);
}
.auto-play .slider .slider-button .slider-triangle {    
    width: 0;
    height: 0;
    margin: 4px auto;
    border-top: 4px solid transparent;
    border-left: 5px solid #412416;
    border-bottom: 4px solid transparent;
}

.caption {
    background: rgb(232, 232, 232);
    height: 15px;
    border-radius: 3px;
    padding: 2px;
}
.styled-caption h3 {
    font-size: 0.7em;
    color: #412416;
}

.settings {
    display: flex;
}
.gears {
    position: relative;
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 50%;
  }

.gears .center{
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 0.219em;
    margin-left: 0.195em;
    z-index: 10;
    width: 8px;
    height: 8px;
    background: #262626;
    border-radius: 50%;
}
.tooth{
    position: absolute;
    top: -0.11em;
    left: 0.33em;
    z-index: 1;
    width: 3px;
    height: 19px;
    background:#fff;
}
.tooth:nth-child(2){
    transform: rotate(45deg);
}  
.tooth:nth-child(3){
    transform: rotate(90deg);
}  
.tooth:nth-child(4){
    transform: rotate(135deg);
}

.toggle-view {
    position: relative;
    border: 2px #E8E8E8 solid;
    width: 25px;
    height: 18px;
}
.toggle-view-inner {
    position: absolute;
    background: #E8E8E8;
    bottom: 0;
    right: 0;
    margin-right: 2px;
    margin-bottom: 2px;
    width: 10px;
    height: 8px;    
}
.theater-mode {
    border: 2px #E8E8E8 solid;
    width: 25px;
    height: 18px;
}

 .styled-border {
    position: relative;
    width: 25px;
    height: 18px;
  }  
 .styled-border .border-top,  .styled-border .border-bottom {
    position: absolute;
    width: 5px;
    height: 5px;
  }  
 .styled-border .border-top {
    top: 0;
    border-top: 2px white solid;
  }  
 .styled-border .border-bottom {
    bottom: 0;
    border-bottom: 2px white solid;
  }  
 .styled-border .border-left {
    left: 0;
    border-left: 2px white solid;
  }  
 .styled-border .border-right {
    right: 0;
    border-right: 2px white solid;
  }

  .progress:hover, .fforward:hover .triangle, .play-button:hover, .speaker:hover, .time:hover .time-inner, .auto-play .slider .slider-button, .caption:hover .styled-caption,
  .settings:hover .gears, .toggle-view:hover, .theater-mode:hover, .styled-border:hover{
    cursor: pointer;
}