@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    background: #0E0E0E;
}

.main {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60%;
    min-width: 480px;
    height: 29em;
    padding: 12px;
    background: #181818;
    overflow: hidden;
    transform: translate(-50%, -50%);
}

/* Styled Blocks */
.styled-block-right {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    background: #E48554;
    overflow: hidden;
}

.styled-block-left {
    position: absolute;
    top: -3px;
    left: -3px;
    width: 75%;
    height: 0;
    border-bottom: 468px solid #262626;
    border-left: 0px solid transparent;
    border-right: 175px solid transparent;
}

/* Channel Logo */
.circle {
    position: absolute;
    top: 15%;
    right: 8%;
    width: 155px;
    height: 155px;
    border-radius: 100%;
    padding: 12px;
    background: #0B0C10;
}

.circle-inner {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background: none;
    border: 7px #FEFEFE solid;
}

.circle-inner img {
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
}

/* Arrow */
.arrow {
    position: relative;
    width: 100%;
    margin-top: 15%;
    margin-left: 70.5%;
    margin-right: 18%;
}

.arrow .curve {
    height: 180px;
    width: 1200px;
    border: 2px solid #FEFEFE;
    border-color: transparent transparent transparent #FEFEFE;
    border-radius: 230px 0 0 150px;
}

.arrow .point {
    position: absolute;
    left: 38px;
    top: 29%;
}

.arrow .point:before, .arrow .point:after {
    content: "";
    position: absolute;
    border: 1px solid #FEFEFE;
    height: 25px;
}


.arrow .point:before {
    top: -19px;
    left: -8px;
    transform: rotate(190deg);
    -webkit-transform: rotate(190deg);
    -moz-transform: rotate(190deg);
    -ms-transform: rotate(190deg);
}

.arrow .point:after {
    top: -32px;
    left: -20px;
    transform: rotate(-92deg);
    -webkit-transform: rotate(-92deg);
    -moz-transform: rotate(-92deg);
    -ms-transform: rotate(-92deg);
}

/* Subscribe */
.subscribe {
    position: absolute;
    top: 52%;
    right: 9%;
    width: 125px;
    height: 125px;
    text-align: center;
}

.subscribe h2 {
    color: #FEFEFE;
}

.subscribe button {
    border: none;
    padding: 4px 8px;
    border-radius: 10px;
    margin-top: 15px;
    background: #FEFEFE;
    color: #DD8152;
    z-index: 9999;
}

.subscribe button:hover{
    cursor: pointer;
}

.subscribe button:focus {
    outline: none;
}

/* Content Block */
.content-block {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
}

.content-container {
    width: 100%;
    height: 385px;
}

/* Styled Border */
.content-styled-border {
    position: relative;
    margin: 0 auto;
    width:50%;
    height: 10.2rem;
    padding: 8px 18px;
}

.content-styled-border .border-top, .content-styled-border .border-bottom {
    position: absolute;
    width: 15px;
    height: 100%;
}

.content-styled-border .border-top {
    top: 0;
    border-top: 2px white solid;
}

.content-styled-border .border-bottom {
    bottom: 0;
    border-bottom: 2px white solid;
}

.content-styled-border .border-left {
    left: 0;
    border-left: 2px white solid;
}

.content-styled-border .border-right {
    right: 0;
    border-right: 2px white solid;
}

/* Video Frame */
.video-frame {
    width: 100%;
    height: 100%;
}

/* Previous */
.left, h1, button {
    text-align: center;
}

.left {
    width: 60%;
    height: 100%;
    padding-top: 65px;
}

.left h1 {
    color: #FEFEFE;
}

.left h1:nth-child(1) {
    font-weight: 100;
    font-size: 1.5em;
}

.left h1:nth-child(2) {
    font-size: 2.3em;
}

.left button {
    font-size: 1em;
    font-weight: 400;
    color: #262626;
    margin-top: 25px;
    background: #E48554;
    padding: 8px 10px 8px 10px;
    border: none;
}

.left button:hover {
    cursor: pointer;
}

.left button:focus {
    outline: none;
}

/* Controls */
.controls {
    padding-top: 0;
    width: 100%;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.progress {
    position: relative;
    width: 100%;
    height: 4px;
    border-radius: 50%;
    background: #E0E0E063;
}

.progress::after {
    content: "";
    position: absolute;
    width: 94%;
    height: 4px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: #FF0000;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-content: center;
    height: 50px;
}

/* Panes */
.left-pane {
    display: flex;
    justify-content: space-between;
    width: 35%;
    padding: 12px 0 0 15px;
}

.right-pane {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px 0 15px;
    width: 35%;
}

/* Control Buttons */
.play-button {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 15px solid #E8E8E8;
    border-bottom: 10px solid transparent;
}

/* Next Button */
.fforward {
    border-right: 5px solid #E8E8E8;
    height: 20px;
    overflow: hidden;
}

.triangle {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 15px solid #E8E8E8;
    border-bottom: 10px solid transparent;
}

/* Speaker */
.speaker {
    display: flex;
}

.square {
    display: flex;
    width: 8px;
    height: 8px;
    margin-top: 7px;
    background: #E8E8E8;
}

.cone {
    width: 0;
    height: 0;
    margin-top: 0.08rem;
    margin-left: -0.3rem;
    border-top: 10px solid transparent;
    border-right: 10px solid #E8E8E8;
    border-bottom: 10px solid transparent;
}

.half-circle {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border-left: none;
    background: #E8E8E8;
    padding-top: 3px;
}

.inner-half-circle {
    width: 14px;
    height: 14px;
    margin: 0 auto;
    border-radius: 100%;
    background: none;
    border: 2px black solid;
}

.circle-container {
    width: 10px;
    height: 20px;
    margin-top: 1px;
    margin-left: 2px;
    overflow: hidden;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
}

/* Time Display */
.time {
    height: 20px;
    margin: 0 5px 0 15px;
}

.time-inner {
    padding-top: 2px;
    height: 20px;
    color: #E8E8E8;
    font-size: 0.9em;
    text-align: center;
}

/* Right Pane */
.auto-play .slider {
    position: relative;
    width: 25px;
    height: 8px;
    border-radius: 10px;
    background: rgba(232, 232, 232, 0.5);
}

.auto-play .slider .slider-button {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: -3.4px;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background: rgb(232, 232, 232);
}

.auto-play .slider .slider-button .slider-triangle {
    width: 0;
    height: 0;
    margin-top: 3.5px;
    margin-left: 6.3px;
    border-top: 4px solid transparent;
    border-left: 4px solid #412416;
    border-bottom: 4px solid transparent;
}

.auto-play:hover .slider-button {
    cursor: pointer;
}

/* Caption */
.caption {
    background: rgb(232, 232, 232);
    height: 15px;
    border-radius: 3px;
    padding: 1px;
}

.styled-caption h3 {
    font-size: 0.7em;
    color: #412416;
}

/* Settings */
.settings {
    display: flex;
}

.gears {
    position: relative;
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 50%;
}

.gears .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    width: 8px;
    height: 8px;
    background: #262626;
    border-radius: 50%;
}

.tooth {
    position: absolute;
    top: -0.11em;
    left: 0.33em;
    z-index: 1;
    width: 3px;
    height: 19px;
    background: #FFF;
}

.tooth:nth-child(2) {
    transform: rotate(45deg);
}

.tooth:nth-child(3) {
    transform: rotate(90deg);
}

.tooth:nth-child(4) {
    transform: rotate(135deg);
}

/* Toggle Fullscreen */
.toggle-view {
    position: relative;
    border: 2px #E8E8E8 solid;
    width: 25px;
    height: 18px;
}

.toggle-view-inner {
    position: absolute;
    width: 10px;
    height: 8px;
    bottom: 0;
    right: 0;
    margin-right: 2px;
    margin-bottom: 3px;
    background: #E8E8E8;
}

.toggle-view:hover {
    cursor: pointer;
}

/* Theater Mode */
.theater-mode {
    border: 2px #E8E8E8 solid;
    width: 25px;
    height: 18px;
}

/* Styled Border */
.styled-border {
    position: relative;
    width: 25px;
    height: 18px;    
}

.styled-border .border-top, .styled-border .border-bottom {
    position: absolute;
    width: 5px;
    height: 5px;
}

.styled-border .border-top {
    top: 0;
    border-top: 2px white solid;    
}

.styled-border .border-bottom {
    bottom: 0;
    border-bottom: 2px white solid;
}

.styled-border .border-left {
    left: 0;
    border-left: 2px white solid;    
}

.styled-border .border-right {
    right: 0;
    border-right: 2px white solid;
}


/* On Hover Cursor Pointer */
.progress:hover, .fforward:hover, .triangle, .play-button:hover, .speaker:hover, .time:hover .timer, .auto-play .slider .slider-button, .caption:hover .styled-caption, .settings:hover .gears, .toggle-view:hover, .theater-mode:hover, .styled-border:hover {
    cursor: pointer;
}
